.spin {
  display: inline-block;
  animation: spin 1s linear infinite;
  color: black;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.slowspin {
  display: inline-block;
  animation: spinPause 6s linear infinite;
}

@keyframes spinPause {
  0% {
    transform: rotate(0deg);
  }

  10% {
    transform: rotate(180deg);
  }
    50% {
    transform: rotate(180deg);
  }
60% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

