.mobile-logo {
  display: block;
}

.desktop-logo {
  display: none;
}

/* Desktop view */
@media (min-width: 768px) {
  .mobile-logo {
    display: none;
  }

  .desktop-logo {
    display: block;
  }

  .top-text,
  .bottom-text {
    display: inline;
  }
}